@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
  background: rgba(255, 255, 255, 1);
}

.btn {
  background: rgba(56, 214, 158, 1);
  color: rgba(247, 247, 247, 1);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

.nav-links {
  color: rgb(15, 15, 15, 1);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

/* main */
main {
  background-image: url(Asset/Hero-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100%; */
  background-size: cover;
  height: 28rem;
}

.main-content h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: rgba(247, 247, 247, 1);
}

.main-content p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  color: rgba(247, 247, 247, 1);
}

/* section -1 */
.section-1{
    background: rgba(54, 95, 163, 1);
    font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  height: 6rem;
  color: rgba(255, 255, 255, 1);
}

/* section-2 */
.section-2{
    background-color: rgb(254, 254, 254);
}


/* media query for mobile */

@media (max-width: 475px) {
    main p{
        width: 100%;
    }

    main h2{
        width: 100%;
    }

    .section-1 h3{

    }
    
}

/* media query for tab */

@media (min-width: 768px) {
    main p{
        width: 38%;
    }

    main h2{
        width: 30%;
    }

    .section-1 h3{
        width: 45%;
        margin: auto;

   }

}
